requests==2.18.4
keyboard==0.13.5
numpy==1.19.1
sk_video==1.1.10
PyAutoGUI==0.9.50
seaborn==0.10.1
opencv_contrib_python==4.2.0.34
firebase_admin==4.3.0
scipy==1.5.1
scikit_image==0.17.2
tensorflow_gpu==2.4.0
dlib==19.20.0
matplotlib==3.3.0
pandas==1.0.5
plotly==4.9.0
click==7.1.2
six==1.11.0
pynput==1.6.8
python_firebase==1.2
face_recognition_models==0.3.0
beautifulsoup4==4.9.1
firebase==3.0.1
Pillow==7.2.0
scikit_learn==0.23.2

